.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container div {
    position: absolute;
    border-radius: 50%;
    animation: gradient 4s infinite;
}
@keyframes gradient {
    70% {
        transform: scale(1.2) translate(50px);
    }
}
.container div:nth-child(1){
    height: 70%;
    width: 80%;
    background-color: #87000096;
    left: -29%;
    top: -10%;
}
.container div:nth-child(2){
    height: 65%;
    width: 80%;
    right: -20%;
    bottom: 0;
    background-color: #1c1c5494;
    animation-delay: 0.3s;
}
.container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(80px);
}
@media (prefers-color-scheme: dark) {
    .container div:nth-child(1){
        background-color: #220000;
    }
    .container div:nth-child(2){
        background-color: #09091c;
    }
  }