.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section h2 {
    height: 20%;
    display: none;
    align-items: flex-end;
    font-size: 28px;
    text-shadow: 0 1px 8px #ffffff50;
}

@media (max-width: 1024px) {
    .section h2 {
        display: flex;
    }
}