:root {
  --background: #FFF8EB;
  --contact-input: #FFF8EB;
  --nav-font: #222222;
  --font-color: #222222;
  --nav-responsive-background: #e29300e6;
  --nav-background: #e29300e6;
  --contact-card: #e29300;
  --modal: #FFE2AD;
  --link: #E96235;
  --icons-hov: #CFA418;
  --icons: #29290e;
  --contact-input-placeholder: #777777;
  --contact-button: #8f5d00;

  --gradient-left: #ffee99a7;
  --gradient-right: #ed7f5ab6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --font-color: #FFD6D6;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
