:root {
  --background: #FFF8EB;
  --font-color: #222222;
  --nav-background: #e29300e6;
  --nav-font: #222222;
  --modal: #FFE2AD;
  --link: #d30000;
  --icons-hov: #1f1d19;
  --icons: #1f1d19ad;
  --contact-input: #FFF8EB;
  --contact-card: hsla(39, 100%, 44%, 0.2);
  --contact-input-placeholder: #777777;
  --contact-button: #8f5d00;

  --gradient-left: #ffee99a7;
  --gradient-right: #ed7f5ab6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --font-color: #FFD6D6;
    --nav-background: #000000ec;
    --nav-font: #FFD6D6;
    --modal: #0e1621;
    --link: #35b3e9;
    --icons: hsl(170, 51%, 50%);
    --icons-hov: hsl(170, 51%, 80%);
    --contact-card: hsla(225, 40%, 15%, 0.3);
    --contact-input: hwb(218 78% 12% / 0.1);
    --contact-button: #002d8f;
    --contact-input-placeholder: #999999;

    --gradient-left: #8E05C2;
    --gradient-right: #FF0000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
