.navbar {
  position: fixed;
  top: 0;
  width: 80%;
  height: 150px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.logo {
  min-width: 300px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.logo button {
  font-size: 26px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.logo button:hover {
  letter-spacing: 2px;
  color: var(--flame);
}
.navigation {
    min-width: 500px;
    width: 45%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.navigation button {
    width: 25%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.navigation button:hover {
  color: var(--flame);
  letter-spacing: 1px;
}
.responsiveNavigation {
  display: none;
}
@media (max-width: 1200px) {
  .navbar {
    width: 90%;
  }
}
@media (max-width: 1023px) {

  /* Only for test */
  .logo {
    display: none;
  }

  .navigation {
    display: flex;
  }
  .responsiveNavigation {
    display: none;
  }
}