.container {
    min-width: 650px;
    width: 60%;
    max-width: 900px;
    height: 70%;
    padding: 4rem 0 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    align-items: end;
    justify-items: center;
}

.container .skillLink {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .skillLink svg {
    width: 100%;
    height: 65%;
    transition: all 0.2s ease;
}

.container .skillLink svg:hover {
    height: 100%;
    color: var(--flame);
    filter: drop-shadow(0 0 2px var(--burnt-sienna));
}

@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}