.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container div {
    position: absolute;
    border-radius: 50%;
}
@keyframes gradient-left {
    70% {
        transform: scale(2) translate(50px);
    }
}
@keyframes gradient-right {
    70% {
        transform: scale(1.5) translate(-50px);
    }
}
.container div:nth-child(1){
    height: 50%;
    width: 50%;
    background-color: var(--gradient-left);
    left: -10%;
    top: -10%;
    animation: gradient-left 4s ease-in-out infinite;
}
.container div:nth-child(2){
    height: 50%;
    width: 50%;
    right: -10%;
    bottom: -10%;
    background-color: var(--gradient-right);
    animation: gradient-right 4s ease-in-out infinite;
    animation-delay: 2s;
}
.container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(80px);
}


@media (prefers-color-scheme: dark) {
    .container div:nth-child(1){
        background-color: #220000;
    }
    .container div:nth-child(2){
        background-color: #09091c;
    }
  }